<ion-content [fullscreen]="true">
  <ion-list class="ion-margin ion-padding">
    <div align="center" class="title">
      <ion-text color="primary">FIRE CHAT</ion-text>
    </div>
    <form [formGroup]="form">
      <ion-input
        placeholder="Email"
        type="email"
        formControlName="email"
        errorText="*Please enter your email"
        class="ion-margin-bottom"
      >
        <ion-icon name="mail-outline" slot="start"></ion-icon>
      </ion-input>
      <ion-input
        placeholder="Password"
        type="password"
        formControlName="password"
        errorText="* Password must be at least 8 characters long"
      >
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input-password-toggle slot="end" color="medium"></ion-input-password-toggle>
      </ion-input>
      <div align="right">
        <ion-button (click)="openModalForgotPassword()" fill="clear" size="small" color="medium">
          Forgot password?
        </ion-button>
      </div>
      @if (!isLogin()) {
        <ion-button
          size="large"
          expand="block"
          class="ion-margin-top"
          [strong]="true"
          (click)="onSubmit()"
        >Login
        </ion-button>
      } @else {
        <ion-button
          size="large"
          expand="block"
          class="ion-margin-top"
          [strong]="true"
        >
          <ion-spinner name="crescent"></ion-spinner>
        </ion-button>
      }


    </form>
  </ion-list>
  <ion-alert
    [isOpen]="!!errorMessage()"
    (didDismiss)="errorMessage.set(null)"
    header="Login error"
    [message]="errorMessage()"
    [buttons]="['Close']"
  ></ion-alert>
  <ion-alert
    [isOpen]="!!forgotPasswordMessage()"
    (didDismiss)="forgotPasswordMessage.set(null)"
    header="Reset password"
    [message]="forgotPasswordMessage()"
    [buttons]="['Close']"
  ></ion-alert>
  <ion-modal
    [isOpen]="isOpenModal()"
    (didDismiss)="isOpenModal.set(false)"
    [breakpoints]="[0.5, 0.8, 1]"
    [initialBreakpoint]="0.8"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar class="modal-toolbar">
          <ion-title color="primary">Reset password</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div style="height: 100px;" class="ion-margin ion-padding forgot-input">
          <ion-input
            placeholder="Email"
            type="email"
            errorText="*Please enter your email"
            [formControl]="forgotPasswordEmail"
          >
            <ion-icon name="mail-outline" slot="start"></ion-icon>
          </ion-input>
        </div>
        @if (!isForgot()) {
          <ion-button
            size="large"
            expand="block"
            class="ion-margin"
            [strong]="true"
            (click)="onForgotSubmit()"
          >Send Link</ion-button>
        } @else {
          <ion-button
            size="large"
            expand="block"
            class="ion-margin"
            [strong]="true"
          >
            <ion-spinner name="crescent"></ion-spinner>
          </ion-button>
        }
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div align="center" class="signup ion-margin-bottom">
      <ion-text>Don't have an account?</ion-text>
      <ion-button
        fill="clear"
        size="small"
        color="medium"
        [strong]="true"
        routerLink="signup"
      >Signup</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
