<ion-header>
  <ion-toolbar class="ion-padding-top">
    <ion-title>{{ name() }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/tabs/chats"
        color="medium"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  @let charArray = chatsMessages() ;
  @if (charArray && charArray.length) {
    <ion-list class="ion-margin-bottom">
      @for (chat of charArray; track $index) {
        <app-chat-box [chat]="chat"></app-chat-box>
      }
    </ion-list>
  } @else {
    @if (!chatsMessagesLoading()) {
      <app-empty-screen [model]="model"></app-empty-screen>
    } @else {
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-spinner></ion-spinner>
          </ion-col>
        </ion-row>
      </ion-grid>
    }
  }
  @if (isKeyboardVisible()) {
    <ng-container *ngTemplateOutlet="textarea"></ng-container>
  }
</ion-content>

<ion-footer>
  @if (!isKeyboardVisible()) {
    <ng-container *ngTemplateOutlet="textarea"></ng-container>
  }
</ion-footer>

<ng-template #textarea>
  <ion-toolbar>
    <ion-list>
      <ion-item lines="none">
        <ion-textarea
          slot="start"
          class="ion-padding-right"
          [autoGrow]="true"
          rows="1"
          placeholder="Send message"
          [(ngModel)]="message"
          (keydown)="handlerKeyDown($event)"
          style="overflow: auto"
        ></ion-textarea>
      </ion-item>
    </ion-list>

    @if(!isLoading()) {
      <ion-button slot="end" size="medium" (click)="sendMessage()">
        <ion-icon color="light" slot="icon-only" name="send"></ion-icon>
      </ion-button>
    } @else {
      <ion-button slot="end" size="medium" (click)="sendMessage()">
        <ion-spinner slot="icon-only" name="crescent"></ion-spinner>
      </ion-button>
    }
  </ion-toolbar>
</ng-template>

