<ion-header>
  <ion-toolbar class="ion-padding-top">
    <ion-title>New Chat</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close.emit(true)" color="medium">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]=true>
  @let usersArray = users() ;

  @if (usersArray && usersArray.length) {
    <ion-list lines="full">
      @for (user of usersArray; track user) {
        <ion-item (click)="startChat(user)" [button]="true" [detail]="false">
          <ion-avatar slot="start">
            <ion-img [src]="user.photo"/>
          </ion-avatar>
          <ion-label>
            {{ user.name }}
            <p>{{ user.email }}</p>
          </ion-label>
        </ion-item>
      }
    </ion-list>
  } @else {
    @if (usersSpinner()) {
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-spinner></ion-spinner>
          </ion-col>
        </ion-row>
      </ion-grid>
    } @else {
      <app-empty-screen [model]="model"></app-empty-screen>
    }
  }
</ion-content>
