
<ion-header [translucent]="true">
  <ion-toolbar class="ion-padding-top">
    <ion-title>Chats</ion-title>

    <ion-buttons slot="end">
      <ion-button size="large" (click)="openChatModal()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chats</ion-title>
    </ion-toolbar>
  </ion-header>

  @let chatRoomsArray = chatRooms();

  <ion-list>
    @for(chatRoom of chatRoomsArray; track $index) {
      <ion-item (click)="goToChat(chatRoom.roomId)" [button]="true" lines [detail]="true">
        <ion-avatar slot="start">
          <ion-img [src]="chatRoom.photo" />
        </ion-avatar>
        <ion-label>
          {{chatRoom.name}}
          @if(chatRoom?.lastMessage) {
            <p>{{ chatRoom.lastMessage }}</p>
          }

        </ion-label>
      </ion-item>
    } @empty {
      <app-empty-screen [model]="model"></app-empty-screen>
    }

  </ion-list>

  <ion-modal
    #usersModal
    [isOpen]="isNewChat()"
    (didDismiss)="isNewChat.set(false)"
  >
    <ng-template>
      @if(users()) {
        <app-users
          [users]="users()"
          (user)="startChat($event, usersModal)"
          (close)="usersModal.dismiss()"></app-users>
      }
    </ng-template>
  </ion-modal>
</ion-content>
